* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body{
    padding: 10%;
}

input{
    border: 1px solid black;
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}
a {
    text-decoration:none;
    color: inherit;
}
ul li a{
    list-style-type : none;
    display: block;
}
header-container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.board_title {
    margin-top: 20px;
    text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}
.board_title h1 {
    display: inline-block;
    line-height: 80px;
    margin-left: 320px;
    margin-right: 320px;
    white-space: nowrap;
}

.login {
    margin-top: 30px;
    text-align: right;
    display: block;
    width: auto;
    height: 40px;
    font-size: 13px;
    float: right;
    list-style-type: none;
    white-space: nowrap;
}
div {
    padding-top: 3px;
    padding-bottom: 8px;
}
.ID input {
    width: 100%;
}

.name input {
    width: 100%;
}

.password input {
    width: 100%;
}

.passwordCheck input {
    width: 100%;
}

.signUp button {
    width: 100%;
    cursor:pointer;
}

.sex {
    text-align: left;
}

button{
    cursor: pointer;
    height: 30px;
    float: right;
}

.error{
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
}
.signup_wrapper {
    border: 2px solid hsl(61, 98%, 44%);
    border-radius: 15px;
    width: 300px;
    height: 400px;
    padding: 40px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 100px;
}

.signup_wrapper h2{
    font-size: 24px;
    color: #b8a225;
    margin-bottom: 20px;
}
