* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
    color: inherit;
}

html{
    font-size: 15px;/*최상위 태그의 글씨 크기 값*/
}

body{
    padding: 10%;
}

li{
    list-style: none;
}


ul li a{
    list-style-type : none;
    display: block;
}

header {
    width: 1000px;
}

.header {
    width: 100%;
    border-bottom: 2px solid hsl(61, 98%, 44%);
}
.board_title {
    margin-top: 20px;
    text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
.board_title h1 {
    display: inline-block;
    line-height: 80px;
    margin-left: 320px;
    margin-right: 320px;
}

.login {
    margin-top: 30px;
    text-align: right;
    display: inline-block;
    width: 50px;
    height: 40px;
    font-size: 13px;
    float: right;
}

.menu {
    display: inline;
    height: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.menu li{
    width: 100%;
    display: inline;
    padding: 0px 10px 0px 30px;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.menu li a{
    display: inline-block;
}

.all {
    width: 1000px;
    border-top: 2px solid hsl(61, 98%, 44%);
    padding-top: 20px;
    text-align: center;
}

#all > div {
    width: 90%;
    min-width:1000px;
    max-width:1200px;
    margin:0 auto;
    font-size: 0;
}
.board {
    display: inline-block;
    width: 33%;
    background: #fff;
}

#all > div > div:nth-child(even){
    margin-left: 4%;
}
#all > div >div:nth-child(2),
#all > div >div:nth-child(3){
    margin-top: 40px;
}
.board .title {
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid hsl(61, 98%, 44%);
}

.board .title a{
    display: inline-block;
    vertical-align: middle;
}

.board .title .name {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -2px;
}

.board .title .date {
    position: absolute;
    top: 5px;
    right: 20px;
}

.board .list {
    padding: 15px;
}

.board .list ul li{
    margin-top: 10px;
    padding-left: 7px;
    background: url(../img/dot.gif) no-repeat 0 7px/2px;
    font-size: 0;
}

.board .list ul li:first-child{
    margin-top: 0;
}

.board .list a,
.board .list span{
    display: inline-block;
    vertical-align: middle;
}

.board .list a{
    width: 80%;
    font-size: 14px;
    text-align: left;
}

.board .list span {
    width: 20%;
    text-align: right;
    font-size: 12px;
    color: #777;
}

.board {
    border: 2px solid hsl(61, 98%, 44%);
    border-top-left-radius: 15px; border-top-right-radius: 15px;
    border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;
    width: 33%;
    height: 250px;
    box-sizing: border-box;
}

.board .page {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
    border-top: 1px solid #ddd;
}

.board .page a{
    display: inline-block;
    margin-top: 5px;
    width: 14px;
    height: 14px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-left: 0;
    vertical-align: middle;
    line-height: 100%;
}
.board .page a.bt{
    font-size: 10px;
    letter-spacing: -1px;
}

.board .page a.num{
    font-size: 12px;
}

.board .page a.num.on {
    border-color: hsl(61, 98%, 44%);
    background-color: hsl(61, 98%, 44%);
    color: #999;
}

.board .page a:first-child{
    border-left: 1px solid #ddd;
}