<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoticeBoard</title>
    <link rel="stylesheet" href="../css/style2.css">
</head>
<body>
<div id="wrap">
    <header>
        <div class="header">
            <a href="noticeboard.html">
                <img src="/img/board.jpeg"
                     alt="게시판" width="70" height="70" align="top" border="0" title = "게시판">
            </a>
            <div class="board_title">
                <h1>Notice Board</h1>
            </div>
            <div class ="login">
                <li> <a href="login.html">로그인</a></li>
            </div>
        </div>
        <div>
            <ul class="menu">
                <nav class="listmenu">
                    <li> <a href="notice.html">공지사항</a></li>
                    <li> <a href="crud.html">전체 게시판</a></li>
                    <li> <a href="hotboard.html">인기 게시판</a></li>
                </nav>
            </ul>
        </div>
    </header>
    <div class="all">
        <div>
            <div class="board">
                <div class="title">
                    <a href="#" class="name">최근 공지사항 목록</a>
                    <li class="date">작성일</li>
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <a href="#">공지사항입니다.</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">공지사항입니다.2</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">공지사항입니다.3</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">공지사항입니다.4</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">공지사항입니다.5</a>
                            <span>23.11.20</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="board">
                <div class="title">
                    <a href="#" class="name">최근 게시물</a>
                    <li class="date">작성일</li>
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <a href="#">5번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">4번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">3번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">2번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">1번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="board">
                <div class="title">
                    <a href="#" class="name">인기 게시물</a>
                    <li class="date">작성일</li>
                </div>
                <div class="list">
                    <ul>
                        <li>
                            <a href="#">1번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">2번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">3번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">4번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                        <li>
                            <a href="#">5번째 글입니다.</a>
                            <span>23.11.20</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>