<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물</title>
    <link rel="stylesheet" href="../css/crud.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="noticeboard.html">
                <img src="/img/board.jpeg"
                    alt="게시판" width="70" height="70" align="top" border="0" title = "게시판">
            </a>
            <div class="board_title">
                <h1>게시물</h1>
            </div>
            <div class ="login">
                <li> <a href="login.html">로그인</a></li>
            </div>
        </div>
    </header>
    <div class="board_wrap">
        <div class="board_view_wrap">
            <div class="board_view" >
                <div class="title">
                    1번째글입니다.
                </div>
                <div class="info">
                    <dl>
                        <dt>번호</dt>
                        <dd>1</dd>
                    </dl>
                    <dl>
                        <dt>글쓴이</dt>
                        <dd>김종엽</dd>
                    </dl>
                    <dl>
                        <dt>작성일</dt>
                        <dd>23.11.04</dd>
                    </dl>
                    <dl>
                        <dt>조회수</dt>
                        <dd>3</dd>
                    </dl>
                </div>
                <div class="cont">
                    첫번쨰 계시물입니다.<br>
                    첫번쨰 계시물입니다.<br>
                    첫번쨰 계시물입니다.<br>
                    첫번쨰 계시물입니다.
                </div>
            </div>
            <div class="bt_wrap">
                <a href="crud.html" class="on">목록</a>
                <a href="change.html">수정</a>
                <button id="deleteButton">삭제</button>
            </div>
        </div>
    </div>
</body>
</html>