<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
    <link rel="stylesheet" href="../css/crud.css">
</head>
<body>
    <header>
        <div class="header">
            <a href="noticeboard.html">
                <img src="/img/board.jpeg"
                    alt="게시판" width="70" height="70" align="top" border="0" title = "게시판">
            </a>
            <div class="board_title">
                <h1>글쓰기</h1>
            </div>
            <div class ="login">
                <li> <a href="login.html">로그인</a></li>
            </div>
        </div>
    </header>
    <div class="board_wrap">
        <!-- <div class="board_title">
            <strong>글쓰기</strong>
            <p>글을 작성해주세요. </p>  
        </div> -->
        <div class="board_write_wrap">
            <div class="board_write">
                <div class="title">
                    <dl>
                        <dt>제목</dt>
                        <dd><input type="text" placeholder="제목을 입력하세요."></dd>
                    </dl>
                </div>
                <div class="info">
                    <dl>
                        <dt>작성자</dt>
                        <dd><input type="text" placeholder="작성자를 입력하세요."</dd>
                    </dl>
                </div>
                <div class="cont">
                    <textarea placeholder="내용을 입력하세요."></textarea>
                </div>
            </div>
            <div class="bt_wrap">
                <a href="view.html" class="on">완료</a>
                <a href="crud.html">취소</a>
            </div>
        </div>
    </div>
</body>
</html>